.search-box-wrapper {
    width: 100%;
    height: 80px;
    position: relative;
    text-align: center;
}
.search-box {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
}


.i-input-wrapper {
    display: grid;
    grid-template-columns: 20px auto;
    grid-gap: 20px;
    color: rgb(51, 51, 51);
}

.i-input-wrapper i, .i-input-wrapper input {
    background-color: white;
    height: 50px;
}

.i-input-wrapper input {
    width: 150px;
    border: none;
}

.i-input-wrapper i {
    width: 40px;
    line-height: 50px;
}

.get-quote{
    color: white;
    width: 200px;
    height: 50px;
    background-color: green;
}

@media only screen and (max-width: 650px) {
    
    .search-box {
        flex-direction: column;
    }

    .search-box-wrapper{
        height: 170px;
    }

    .i-input-wrapper{
        width: 100%;
        margin: 5px;
    }
    .i-input-wrapper input {
        width: 100%;
    }

    .get-quote{
        margin: 5px;
        width: 100%;
    }
}