@import "meta";
@import "icons";
@import "table";

.card{
    background-color: transparent;
    border: none;
    .content{
        background-color: $color-10-4;
        color: $color-60;
        border-radius: 5px;
    }
}