.login-svg-wrapper {
    position: relative;
    background-image: url('../svg/svg_auth.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: calc(100vh - 56px);
}

.form-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.form-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
